body footer {
    display: none;
}

header {
    display: none;
}


html body {
    display: flex;
    flex-direction: column;
}

body section {
    flex: 1;
}

section.payment-container {
    height: 100%;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
}

section.payment-container .btn {
    width: max-content;
}

.payment-container h1 i {
    background-color: black;
    color: #ECDED3;
    border-radius: 50%;
    font-size: 4rem;

}

.payment-container h1 i.fa-check {
    padding: 1rem 1.1rem;
}

.payment-container h1 i.fa-xmark {
    padding: 1rem 1.4rem;

}

.payment-container h2 {
    text-align: center;
}